<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Editor</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/tinymce/5.8.2/tinymce.min.js"></script>
    <!-- <script src="https://cdn.tiny.cloud/1/50xr2p1vczd6fvfexslqb4kfyjetp9pcu4mr2pbdi86e3go3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> -->
    <!-- <script src="/static/js/tinymce.min.js"></script> -->
    
    <script>
        tinymce.init({
            selector: '#editor',
            height: 1000,
            menubar: "edit insert format table view",
            toolbar1: 'undo redo|fontselect fontsizeselect forecolor backcolor|bold italic underline strikethrough',
            toolbar2: "styleselect|alignleft aligncenter alignright alignjustify|bullist table link image blockquote| searchreplace ",
            plugins: [
                'link image imagetools table lists searchreplace '
            ],
            contextmenu: 'paste copy cut link image imagetools table lists advlist',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
            setup: function (editor) {
                editor.on('keyup', function (e) {
                    autoSave(e)
                })
                editor.on('mouseup', function (e) {
                    autoSave(e)
                })
            },
        });

    </script>

</head>

<body th:onload="loadFile([[${fileid}]])">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/home">
            <i class="bi bi-folder2" width="30" height="30"></i>
            JFiles</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Back <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:text="${user.name}">Jimmy <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>FUcK Doc!!!</h1>
    <div class="container-fluid">
        <div class="col">
            <div id="editor"></div>
        </div>
    </div>

    <button id='btnsave' hidden th:onclick="saveFile([[${fileid}]])"></button>
</body>

<script>

    function autoSave(e) {
        lastKeyupTime = e.timeStamp;
        setTimeout(function () {
            if (lastKeyupTime - e.timeStamp == 0) {
                $("#btnsave").click();
                console.log("save");
            }
        }, 1000);

    }

    function loadFile(fileid) {
        $.ajax({
            type: "POST",
            url: '/editor/' + fileid,
            success: function (e) {
                //console.log(e)
                tinyMCE.editors["editor"].setContent(e)
            }
        });
    }

    function saveFile(fileid) {
        var formData = new FormData();
        formData.append("content", tinyMCE.editors["editor"].getContent());
        console.log(formData);
        $.ajax({
            type: "POST",
            url: '/save/' + fileid,
            contentType: false,
            processData: false,
            data: formData,
            success: function (e) {
                //console.log("ss")
            }
        });
    }

</script>
<script>

</script>

</html>