<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Files</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            <i class="bi bi-folder2" width="30" height="30"></i>
            JFiles</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${(page == 'home' ? 'active' : '')}">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/public" th:classappend="${(page == 'public' ? 'active' : '')}">Public
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:text="${user.name}">Jimmy <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-sm-8">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false">
                        New File
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#newbox"
                            onclick="$('#addnameback').text('.docx');$('#addtype').val('docx')">Word File</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#newbox"
                            onclick="$('#addnameback').text('.xlsx');$('#addtype').val('xlsx')">Excel File</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#newbox"
                            onclick="$('#addnameback').text('.md');$('#addtype').val('md')">Markdown File</a>
                    </div>
                </div>
                <button type="button" data-toggle="modal" data-target="#upbox" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-danger" onclick="$('#fileform').submit()">Delete</button>
            </div>
        </div>
        <div class="row" style="margin-top: 1%;">
            <div class=col-2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nav flex-column nav-pills" id="tag-list" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab"
                                aria-controls="v-pills-home" aria-selected="true">All</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">Profile</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <form id="fileform" method="POST" th:fragment="file_table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkAll"></th>
                                <th>id</th>
                                <th>name</th>
                                <th>type</th>
                                <th>tag</th>
                                <th>ownerid</th>
                                <th>public</th>
                                <th>createtime</th>
                                <th>updatetime</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                            <tr th:each="file,iterStat : ${filelist}">
                                <td class="func"><input type="checkbox" th:value="${file.id}"
                                        th:name="'file'+${iterStat.index}">
                                </td>
                                <td th:text="${file.id}"></td>
                                <td th:text="${file.name}"></td>
                                <td th:text="${file.type}"></td>
                                <td class="func">wait</td>
                                <td th:text="${file.ownerid}"></td>
                                <td th:text="${file.ispublic}"></td>
                                <td th:text="${file.createtime}"></td>
                                <td th:text="${file.updatetime}"></td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>



    <div class="modal fade" id="newbox" tabindex="-1" aria-labelledby="addbox" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="newboxbody">
                    <form method="post" id="newfileform">
                        <input type="hidden" name="page" th:value="${page}">
                        <div class="input-group mb-3">
                            <input type="text" id="tags0" onkeyup="checkVoid()" name="name" class="form-control"
                                placeholder="Enter File Name" aria-label="Enter File Name"
                                aria-describedby="addnameback" required>
                            <div class="input-group-append">
                                <span class="input-group-text" id="addnameback">.docx</span>
                                <input id="addtype" type="hidden" name="type" value="docx">
                            </div>
                        </div>
                        <div class="form-check" style="margin-top: -2%;margin-bottom: 2%;margin-left: 1%;">
                            <input id="pub" name="ispublic" class="form-check-input" type="checkbox" value="1">
                            <label class="form-check-label" for="defaultCheck1">
                                Public
                            </label>
                        </div>
                        <div class="input-group mb-3" id="tag-group">
                            <div class="input-group-append">
                                <span class="input-group-text">Tag</span>
                            </div>
                            <input id="tags1" name="tag1" type="text" class="form-control" placeholder="Enter the tag"
                                aria-label="Recipient's username" aria-describedby="button-addon2"
                                onkeyup="$.checktag(1)">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btnadd" type="button" id="tagadd1"
                                    onclick="$.addtags()" disabled>Add</button>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary  btndel" type="button" id="tagdel1"
                                    onclick="$.deltags()" disabled>Del</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnadd" class="btn btn-primary" onclick="$('#newfileform').submit()"
                        disabled>Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upbox" tabindex="-1" aria-labelledby="upbox" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="upboxbody">

                    <div class="form-group">
                        <label for="exampleFormControlFile1">File Input: </label>
                        <p id="upfilename"></p>
                        <p id="upfilesize"></p>
                        <form id="upfileform">
                            <input type="checkbox" id="upispublic">
                            <label class="form-check-label" for="defaultCheck1">
                                Public
                            </label>
                            <button class="btn btn-info" onclick="$('#upfile').click()">Select</button>
                            <input name="file" type="file" class="form-control-file" id="upfile"
                                accept=".doc,.docx,.xlsx,.xls,.md" style="display: none;">
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnup" class="btn btn-primary" onclick="uploadFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function reBind() {
            $tbody = $("#tbody")
            $("#checkAll").click(function (event) {
                $tbody.find('input').prop('checked', $(this).prop('checked'));
                event.stopPropagation();
            });

            $tbody.click(function (event) {
                $("#checkAll").prop('checked', $(this).find('input:checked').length == $(this).children('tr').length ? true : false);
                event.stopPropagation();
            });
            $td = $tbody.find("tr td").not(".func");
            $td.click(function (event) {
                $(this).parent().find("input").click();
            });
        }
        reBind()

        $("#upfileform").submit(function (e) {
            return false;
        })

        $("#upfile").on("change", function (e) {
            var fileSize = 0;
            var file = $('#upfile').get(0).files[0];
            if (file.size > 1024 * 1024) {
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            } else {
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
            }
            var arr = $('#upfile').val().split("\\");
            var fileName = arr[arr.length - 1];
            $("#upfilename").text(fileName)
            $("#upfilesize").text(fileSize);
        })

        function uploadFile() {
            var file = $('#upfile').get(0).files;
            //console.log(file)
            var formData = new FormData();
            // for (var i = 0; i < pic.length; i++) {
            //     formData.append("pic['+i+']", pic[i]);
            // }
            if ($("#upispublic").prop("checked")) {
                formData.append("ispublic", "Public");
            } else {
                formData.append("ispublic", "Private");
            }
            formData.append("file", file[0]);



            $.ajax({
                type: "POST",
                url: '/upload',
                data: formData,
                processData: false,
                contentType: false,
                // xhr: function () {
                //     var xhr = $.ajaxSettings.xhr();
                //     if (onprogress && xhr.upload) {
                //         xhr.upload.addEventListener("progress", onprogress, false);
                //         return xhr;
                //     }
                // },
                success: function (e) {
                    $("#fileform").html(e)
                    reBind()
                    $("#upfileform")[0].reset()
                    $("#upfilename").text("")
                    $("#upfilesize").text("");

                }
            });
        }

        $("#fileform").submit(function (e) {

            $.ajax({
                type: "POST",
                url: "/delfile",
                data: $(this).serialize(),
                success: function (result) {
                    $("#fileform").html(result)
                    reBind()
                }
            })
            $("#fileform")[0].reset()
            $("#checkAll").prop('checked', false);
            return false
        })


        $("#newfileform").submit(function (e) {

            $.ajax({
                type: "POST",
                url: "/addfile",
                data: $("#newfileform").serialize(),
                success: function (result) {
                    $("#fileform").html(result)
                    reBind()
                }
            })
            $("#newfileform")[0].reset()
            resetAdd()
            $("#btnadd").attr("disabled", "")
            return false
        })

        i = 1
        $.checktag = function (t) {
            if ($("#tags" + t).val() != "" && t < 5) {
                $("#tagadd" + t).removeAttr("disabled")
            } else {
                $("#tagadd" + t).attr("disabled", "")

            }
            checkVoid()
        }

        function checkVoid() {
            if ($("#tags0").val() != "" && $("#tags" + i).val() != "") {
                $("#btnadd").removeAttr("disabled")

            } else {

                $("#btnadd").attr("disabled", "")
            }
        }



        $.addtags = function () {
            if (i < 5) {
                i++
                $tags = $("#tag-group").clone();
                $tags.removeAttr("id")
                $tags.attr("id", "tag" + i);
                $tags.find("input").val("").removeAttr("readonly");
                $tags.find("input").attr("id", "tags" + i);
                $tags.find("input").attr("name", "tag" + i);
                $tags.find("input").attr("onkeyup", "$.checktag(" + i + ")");
                $tags.find("button.btnadd").attr("id", "tagadd" + i).attr("disabled", "");
                $tags.find("button.btndel").attr("id", "tagdel" + i).removeAttr("disabled");

                $('#newfileform').append($tags)
                $("#tags" + (i - 1)).attr("readonly", "")
                $("#tagdel" + (i - 1)).attr("disabled", "")
                $("#tagadd" + (i - 1)).attr("disabled", "")
                $("#btnadd").attr("disabled", "")
            }
            if (i == 5) {
                $("#tagadd" + 5).attr("disabled", "")
            }
        }

        $.deltags = function () {
            if (i == 1) {
                return
            }
            $("#tag" + i).remove()
            $("#tags" + (i - 1)).removeAttr("readonly")
            if (i > 2) {
                $("#tagdel" + (i - 1)).removeAttr("disabled")
            }
            $("#tagadd" + (i - 1)).removeAttr("disabled")
            i--
            $.checktag(i)
        }

        function resetAdd() {
            while (i > 1) {
                $.deltags()
            }
            $("#tagadd1").attr("disabled", "")
        }
    </script>
</body>

</html>